.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container .bottle-img {
  flex: 1;
  /* width: 50%; */
  /* height: 100%; */
}
.container .bottle-img img {
  width: 100%;
  height: auto;
}
.container .bottle-info {
  margin-left: 40px;
  flex: 1;
}
.container .bottle-info .variants-color {
  display: flex;
}
.container .bottle-info .variants-color .button {
  border: none;
  padding: 30px;
  border-radius: 0.4em;
  margin: 0.2em;
  width: 15px;
  transition-duration: 300ms;
}
.container .bottle-info .variants-color .button:hover {
  border: 2px solid black;
  cursor: pointer;
}

.container button {
  margin-top: 10px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 7px;
}
